
node_modules/*
client/node_modules/*
server/node_modules/*
git/*
server/.vscode/*
client/.vscode/*
server/build/*
client/build/*
server/yarn.lock
server/package-lock.json
client/yarn.lock
client/package-lock.json
server/public/*
